.accomodation {
    position: relative;
}

.accomodation .title {
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 100;
}
