.location {
    position: relative;
}

.location h1, h2 {
    font-family: 'Satisfy', cursive;
}

.location .title {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.location .subtitle.is-3 {
    font-size: 3.33rem;
    margin-top: 1rem;
}

.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    max-height: 100vh;
}

.megabutton:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    cursor: pointer;
}
